{{define "post"}}
---
date: {{ .Date.Format "2006-01-02T15:04:05-07:00"}}
description: {{.Description}}
featured_image: "/images/{{.FeaturedImage}}"
tags: [{{range .Tags}}
    {{.}},{{end}}
]
title: {{.Title}}
disable_share: false
year: {{.Year}}
details: [{{range .Details}}
{date: {{ .Date.Format "2006-01-02T15:04:05-07:00"}}, venue: "{{.Venue.Name}}", address: "{{.Venue.Address}}", price: "{{.Ticket.Price}}", ticketText: "{{.Ticket.Description}}", ticketLink: "{{.Ticket.Link}}"},{{end}}
]
---
{{.Content}}
{{end}}